[Desktop Entry]
Type=Service
Comment=Plugin for searching highlighted text in zealdocs 
Name=ZealSearch
GenericName=ZealSearch
Icon=zeal
ServiceTypes=KTextEditor/Plugin,KDevelop/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin,KDevelop/Plugin
X-KDE-Library=ktexteditor_zealsearch
X-KDE-PluginKeyword=ktexteditor_zealsearch
X-KDE-PluginInfo-Name=ktexteditorzealsearch
X-KDE-PluginInfo-Author=Mykola G, R.J.V. Bertin
X-KDE-PluginInfo-Email=misty.g3ar@gmail.com, rjvbertin@gmail.com
X-KDE-PluginInfo-Website=gear.whatwhatweb.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL2+
X-KDE-Version=5.0
