<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="ktexteditor_zealsearch" library="ktexteditor_zealsearch" version="5" translationDomain="ktexteditor_zealsearch">
    <MenuBar>
     <Menu name="tools">
        <Text>&amp;Tools</Text>
        <separator group="tools_operations" />
        <Menu name="zealsearch" group="tools_operations">
            <Text>Zeal</Text>
            <Action name="tools_zealsearch"/>
        </Menu>
     </Menu>
    </MenuBar>
  <Menu name="ktexteditor_popup" noMerge="1">
    <Action name="popup_zeal"/>
  </Menu>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
