[Desktop Entry]
Type=Service
Comment=Plugin for searching selected text in zeal
Name=ZealSearch
GenericName=ZealSearch
Icon=zeal
ServiceTypes=KTextEditor/Plugin,KDevelop/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin,KDevelop/Plugin
X-KDE-Library=ktexteditor_zealsearch
X-KDE-PluginKeyword=ktexteditor_zealsearch
X-KDE-PluginInfo-Name=ktexteditorzealsearch
X-KDE-PluginInfo-Author=R.J.V. Bertin, Mykola G
X-KDE-PluginInfo-Email=rjvbertin@gmail.com, misty.g3ar@gmail.com
X-KDE-PluginInfo-Website=github.com/RJVB/zealsearch
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-Version=5.0
